
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 ">
    <h2>Donor Not Found</h2>
    <hr />
    <a href='@Url.Action("Index", "Home")'>Click here to go back to the home page</a>
</div>
<style>
    .alignment {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
</style>